In [1]:
thistuples=("a","b","c","d","e")
print(thistuples)

('a', 'b', 'c', 'd', 'e')

In [7]:
tuple=(1,"a",2.2)
print(tuple)

(1, 'a', 2.2)

In [8]:
tuple1=("H","e","l","l","o")
str="".join(tuple1)
print(str)

Hello

In [9]:
tuple2=("H","e","l","l","o")
print(tuple2[1:4])

('e', 'l', 'l')

In [11]:
tuple3=("H","e","l","l","o")
print(len(tuple3))

5

In [69]:
x = (5, 10, 15, 20)
# Reversed the tuple
y = reversed(x)
print (tuple(y))

TypeError: 'tuple' object is not callable

In [20]:
t=(1,"hi"),(2,"hello")
dict(t)

{1: 'hi', 2: 'hello'}

In [21]:
t1=(1,"hi"),(2,"hello"),(3,"hola")
dict(t1)

{1: 'hi', 2: 'hello', 3: 'hola'}

In [61]:
names=["Giridhar","sudha","gouthamy","karthikeya"]
names.reverse()
print(names)

['karthikeya', 'gouthamy', 'sudha', 'Giridhar']